#search-bar{
    padding: 100px;
}

#shows img, #show img{
    display: block;
margin-left: auto;
margin-right: auto;
/* border: 8px ridge blue; */
padding: 5px;
  width:50%;
  /* height:50%; */
}

@media(min-width:960px){
  #shows .col-md-3 .well{
    height: 390px;
  }

  #shows .col-md-3 img{
    height:240px;
  }
}
